body{
	margin: 0;
	padding: 0;
	font-weight: 400;
	font-size: 100%;
	background-color: #f5f6f6;
	font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
h1,h2,h3,h4,h4,h5,h6{
    font-weight: 600;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
}
h1.bar{
	background-color: #2440b9;
	color: #fff;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding: 10px;
	margin-top: 0;
}
.content{
	display: flex;
	justify-content: space-between;
	margin: 5px;
	background-color: #eee;
	box-shadow: 0 0 5px #000;
}
.maincontent{
	flex: 1;
	min-width: 0;
}
.mainContent{
    display:flex;
    align-items: stretch;
    width: 100%;
    margin: 0;padding: 1em 2em 3em 2em;
    word-wrap: break-word;
}
.subcontent{
    width: 100px;
    padding: 0 0 0 20px;
}
.maincontent ul{
	margin-left: 0;
	margin-right: 0;
	padding: 0;
}
.maincontent li{
	margin-bottom: 0.5em;
	margin-left: 2em;
}
@media (max-width: 800px){
    .content {
        flex-direction: column;
    }
    .subcontent{
        display:block;
        width: auto;
        padding: 1em;
        border: 1px #888 solid;
    }
}
a:link {
    text-decoration: none;
    color: blue;
}
h2{
	padding: 10px;
	font-weight: bold;
	font-size: 125%;
	border-style: solid;
	border-width: 0 0 1px 20px;
	border-color: #00308b;
}
span.del{
	text-decoration-line: line-through;
	text-decoration-style:double;
	text-decoration-color: #000;
}