::-webkit-scrollbar{display:none;}
#container{
display:grid;
grid-template-columns:repeat(auto-fit,400px);
grid-gap:20px;
justify-content:center;
}
svg{
user-select:none;
width:100px;
height:100px;
}
@media screen and (max-width:480px){
    #container{grid-template-columns:repeat(auto-fit,calc(100vw - 10px));}
    svg{width:70px;height:70px;}
}
.diceItem,#diceJavaSparrow{
position:relative;
display:flex;
align-items:center;
flex-direction:column;
font-size:2rem;
background:var(--bgcolor);
}
input[type=range]::-webkit-slider-thumb{
-webkit-appearance:none;
appearance:none;
width:30px;
height:30px;
border:2px solid #000;
background:var(--bgcolor);
}